.form-section {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03); */
  }
  
  .form-section h3 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
    color: #333;
  }

  #droppable {
    min-height: 150px;
    border: 2px dashed gray;
    padding: 10px;
    background-color: #f9f9f9;
  }
  